@model AppTccWebBD.Models.Tcc

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Tcc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AlunoId" class="control-label"></label>
                <input asp-for="AlunoId" class="form-control" />
                <span asp-validation-for="AlunoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aluno" class="control-label"></label>
                <input asp-for="Aluno" class="form-control" />
                <span asp-validation-for="Aluno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrientatadorTcc" class="control-label"></label>
                <input asp-for="OrientatadorTcc" class="form-control" />
                <span asp-validation-for="OrientatadorTcc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvaliadorApresentacao" class="control-label"></label>
                <input asp-for="AvaliadorApresentacao" class="form-control" />
                <span asp-validation-for="AvaliadorApresentacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resumo" class="control-label"></label>
                <input asp-for="Resumo" class="form-control" />
                <span asp-validation-for="Resumo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Semestre" class="control-label"></label>
                <input asp-for="Semestre" class="form-control" />
                <span asp-validation-for="Semestre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ano" class="control-label"></label>
                <input asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Mencao" /> @Html.DisplayNameFor(model => model.Mencao)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Chave1" class="control-label"></label>
                <input asp-for="Chave1" class="form-control" />
                <span asp-validation-for="Chave1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chave2" class="control-label"></label>
                <input asp-for="Chave2" class="form-control" />
                <span asp-validation-for="Chave2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chave3" class="control-label"></label>
                <input asp-for="Chave3" class="form-control" />
                <span asp-validation-for="Chave3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chave4" class="control-label"></label>
                <input asp-for="Chave4" class="form-control" />
                <span asp-validation-for="Chave4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chave5" class="control-label"></label>
                <input asp-for="Chave5" class="form-control" />
                <span asp-validation-for="Chave5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
